<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% content_for(:title, t('.title')) %>
<div class="container">
  <div class='row justify-content-center mx-auto'>
    <div class="notification_box">
      <h2 class="text-center"><i class="fas fa-bell"></i>通知</h2>
      <%= link_to "全既読済み", checked_all_post_notifications_path, data: { turbo_method: :delete, 
            turbo_confirm: t('posts.delete.comfirm') }, class:"btn btn-light fas fa-trash" %>
      <% if notifications.exists? %>
        <% notifications.each do |notification| %>
          <% if notification.respond_to?(:post_id) %>
            <%= render partial: 'notifications/post_notification', locals: { notification: notification } %>
          <% else %>
            <%= render partial: 'notifications/comment_notification', locals: { notification: notification } %>
          <% end %>
        <% end %>
      <% else %>
        <p>通知はありません</p>
      <% end %>
    </div>
  </div>
</div>