<footer class='footer mt-auto py-3'>
  <div class='container'>
    <div class='fixed-bottom  bg-dark-subtle '>
        <%= link_to '利用規約', '#', class:'link-dark text-decoration-none' %>
        <%= link_to 'プライバシーポリシー', '#', class:'link-dark text-decoration-none' %>
      </div>
    </div>
  </div>
</footer>