<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>How to</h1>
      <div>
        このアプリは在宅介護をしている方の悩みや愚痴を投稿し、共有・解決しようという趣旨のアプリです。
      </div>
      <div class='row'>
        <div class="col">
          <div class="card">
            <%= image_tag 'how_to_1.png' %>
            <div class="card-body">
              <div class="card-text">
              ユーザー登録をして投稿しよう
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <%= image_tag 'how_to_2.png' %>
            <div class="card-body">
              <div class="card-text">
              ユーザー登録をして投稿しよう
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <%= image_tag 'how_to_3.png' %>
            <div class="card-body">
              <div class="card-text">
              ユーザー登録をして投稿しよう
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>