<div class="container">
    <div class='row justify-content-center mx-auto'>
        <div class="notification_box">
            <h4 class="text-center"><i class="fas fa-bell"></i>通知</h4>
             <%= link_to "全通知をクリア", checked_all_post_notifications_path, data: { turbo_method: :delete, 
             turbo_confirm: '通知を消しますか' }, class:"btn btn-light fas fa-trash" %>
        <% if @notifications.any? %>
        <% @notifications.each do |notification| %>
          <% if notification.respond_to?(:post_id) %>
            <%= render partial: 'notifications/post_notification', locals: { notification: notification } %>
          <% else %>
            <%= render partial: 'notifications/comment_notification', locals: { notification: notification } %>
          <% end %>
        <% end %>
        <% else %>
          <p class="text-center">通知はありません</p>
        <% end %>
        </div>
    </div>
</div>