<% notifications = @notifications.where.not(visitor_id: current_user.id) %>

<div class="container">
    <div class='row justify-content-center mx-auto'>
        <div class="notification_box">
            <h4 class="text-center"><i class="fas fa-bell"></i>通知</h4>
             <%= link_to "全既読済み", checked_all_post_notifications_path, data: { turbo_method: :delete, 
             turbo_confirm: t('posts.delete.comfirm') }, class:"btn btn-light fas fa-trash" %>
        <% if notifications.exists? %>
        <% @notifications.each do |notification| %>
            <%= render partial: 'post_notifications/post_notification', locals: { notification: notification } %>
          <% end %>
        <% else %>
        <p>通知はありません</p>
        <% end %>
        </div>
    </div>
</div>