@import "bootstrap";

.toptext{
    color: #00ffcc;
    background-color: black;
}

body{
    font-size: 18px;
}

header{
    background: #B2FFAB;
}

.footer{
    text-align: right;
}

.bio{
    min-height: 100px;
}

.preview-image{
    max-width: 300px;
    max-height: 300px;
}

.post_index_image{
    width: 100px;
    height: 100px;
}

.post_type_question{
    background-color: #FFA859;
    border-radius: 10px;
    padding: 5px 15px;
}

.post_type_tweet{
    background-color: #59EBFF;
    border-radius: 10px;
    padding: 5px 10px;
}