@import "bootstrap";

.toptext{
    color: #00ffcc;
    background-color: black;
}

body{
    font-size: 18px;
}

header{
    background: #B2FFAB;
}

.footer{
    text-align: right;
}

.bio{
    min-height: 100px;
}

.preview-image{
    max-width: 300px;
    max-height: 300px;
}